//-- header file
//-- reference: https://www.bootstrapcdn.com/

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Georgian Survey
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/about') Login
      li.nav-item
        a.nav-link(href='/skills') About
      li.nav-item
        a.nav-link(href='/work') Surveys
      li.nav-item
        a.nav-link(href='/contact') Contact
  
