//-- header file
//-- reference: https://www.bootstrapcdn.com/

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Georgian Survey
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active2
        a.nav-link(href='/about') About
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Surveys
        .dropdown-menu
          a.dropdown-item(href='/surveys') Surveys
          a.dropdown-item(href='/surveys/new') New Survey
          a.dropdown-item(href='/surveys/show') Active Surveys
      li.nav-item.active3
        a.nav-link(href='/authors/new') Login
      li.nav-item.active3
        a.nav-link(href='/contact') Contact
      
  
