extends layout

block content
  h1 About
  h2 Introduction
  p We are a group of students working for out our first professional project. We studdy in Georgian college and are enrolled in the Computer programming course. We are passionate about our projects and want to make our own sapce in the market as a company. Our site Georgian surveys provides you to add and do surveys that you like.
  