//- Paramvir Singh Atwal
//- Georgian Surveys
//- about.pug
//- this file contains a little introduction about our group and the site that we are working on.


extends layout

block content
  h1 About
  p We are a group of students working for out our first professional project. We study in Georgian college and are enrolled in the Computer programming course. We are passionate about our projects and want to make our own space in the market as a company. Our site Georgian surveys provides you to add and do surveys that you like.
  
  p The Site allows users to take Surveys under a given time.
  h2 Group Members
  ul 
    li Paramvir Singh Atwal
    li Amarjeet Singh
    li Navreet Sidhu
    li Daaman Kaushal
    li Ujjwal Bhasin 
  