//-- main index file
extends layout

block globals
  - title = "Georgian Survey"

block content

  header.head
    h1
      = title
      br
      small Georgian Survey 
      <img src="/LOGO.jpg" alt="Logo" id="logo" style="float:left;width:400px;height:400px;">