//-Author Name: Navreet Sidhu 

extends ../layout.pug
block content
  .container
    header
      h3= title

    div
      table.table.table-striped
        thead
          tr
            th Title
            th Status
        
        tbody
          each survey in surveys
            tr
              td
                a(href=`/surveys/${survey.id}`)= survey.title
              td= survey.status