//- Authors: Daaman Kaushal and Amarjeet Singh
//- Georgian Surveys
extends ../layout.pug
block content
  .container
    header
      h3 New Author
      <img src="/LOGO.jpg" alt="Logo" id="logo" style="float:right;width:400px;height:400px;">

    div

      include ./form.pug